h1{
    color: white;
    font-size: 3em;
    margin: 0;
    bottom: 0;
}

#bento{
  display: flex;
  flex-flow: row wrap;
  width: 75em;
  height: 60em;
  line-height: 10em;
  border: solid 10px darkgray;
}

.b1{
  border-radius: .5em;
  margin: .25em;
  background: violet;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 10em;
  width: 24.5em;
  }

.b2{
  border-radius: .5em;
  margin: .25em;
  background: yellow;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 20em;
  width: 24.5em;
  }

.b3{
  border-radius: .5em;
  margin: .25em;
  background: aqua;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 23em;
  width: 24.5em;
}

.b4{
  border-radius: .5em;
  margin: .25em;
  background: lightblue;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 50em;
  width: 24.5em;
}

.b5{
  border-radius: .5em;
  margin: .25em;
  background: pink;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 10em;
  width: 24.5em;
}

.b6{
  border-radius: .5em;
  margin: .25em;
  background: red;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 23em;
  width: 24.5em;
}

.b7{
  border-radius: .5em;
  margin: .25em;
  background: skyblue;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 15em;
  width: 24.5em;
}
