h1{
    color: white;
    font-size: 3em;
    margin: 0;
    bottom: 0;
}

#bento{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100em;
  height: 75em;
  line-height: 10em;
  border: solid 10px darkgray;
}

.box1{
  background: skyblue;
  justify-content: center;
  align-items: left;
  display: flex;
  height: 10em;
  width: 33em;
  }

.box2{
  background: yellow;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 25em;
  width: 33em;
  }

.box3{
  background: aqua;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 37em;
  width: 33em;
}

.box4{
  background: violet;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 65em;
  width: 33em;
}

.box5{
  background: pink;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 25em;
  width: 33em;
}

.box6{
  background: red;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 25em;
  width: 33em;
}

.box7{
  background: skyblue;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 37em;
  width: 33em;
}
