h1{
    color: white;
    font-size: 2em;
    margin: 0;
    bottom: 0;
}

#bento{
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  height: 30em;
  width: 50em;
  line-height: 10em;
  border: solid 10px darkgray;
}

.b1{
  border-radius: .5em;
  margin: .25em;
  background: slategrey;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 10em;
  width: 16em;
  }

.b2{
  border-radius: .5em;
  margin: .25em;
  background: darkseagreen;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 19em;
  width: 16em;
  }

.b3{
  border-radius: .5em;
  margin: .25em;
  background: thistle;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 9.5em;
  width: 16em;
}

.b4{
  border-radius: .5em;
  margin: .25em;
  background: lightblue;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 9.5em;
  width: 16em;
}

.b5{
  border-radius: .5em;
  margin: .25em;
  background: pink;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 9.5em;
  width: 16em;
}

.b6{
  border-radius: .5em;
  margin: .25em;
  background: cadetblue;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 14.5em;
  width: 16em;
}

.b7{
  border-radius: .5em;
  margin: .25em;
  background: skyblue;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 14.5em;
  width: 16em;
}
